.libraryManage-container {
  position: relative;
  height: 100%;

  .libraryManage-left-container {
    position: absolute;
    height: 100%;
    width: 120px;
    background: #fff;
    box-shadow: 1px 0 3px #ccc;
    z-index: 3;

    .libraryManage-title {
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #eee;
    }
  }

  .libraryManage-right-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-left: 120px;
    overflow: auto;
  }

}
